.textArea {
  &__input {
    resize: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
    white-space: nowrap;
    padding: 5px 10px;

    &:hover,
    &:focus {
      background-color: var(--background-focus-color);
    }
  }

  &__errorText {
    color: var(--error-color);
  }
}
