.button {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--normal-font-weight);
  color: var(--text-color);
}
.button:hover {
  background-color: var(--background-focus-color);
  border: 1px solid var(--main-2-color);
}