@import '../../../mixins';

.button {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
  cursor: pointer;
  padding: 8px 20px;

  @include text;
  color: var(--text-color);

  &:hover {
    background-color: var(--background-focus-color);
  }

  &_disabled {
    cursor: initial;
    &:hover {
      background-color: initial;
    }
  }
}
