.primaryButton {
  border: none;
  background-color: var(--active-color);
  color: var(--on-color-text-color);

  &:hover {
    border: none;
    background-color: var(--active-hover-color);
  }
}
