.file {
  cursor: pointer;
  display: block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    background-color: var(--background-focus-2-color) !important;
  }

  &__fileImage {
    display: flex;
    justify-content: center;
    width: 30px;
  }
}
