.frameContent {
  height: 150px;
  max-width: 250px;
  min-width: 100px;
  background-color: var(--background-focus-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
}
.frameContent__content {
  margin: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 130px;
  overflow-y: scroll;
  overflow-x: hidden;
}