.colorTextMsg {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  font-weight: var(--normal-font-weight);
}
.colorTextMsg__success {
  background-color: var(--success-light-color);
  color: var(--on-success-text-color);
}
.colorTextMsg__warning {
  background-color: var(--warning-color);
  color: var(--on-warning-text-color);
}