.taskInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  // header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__labelContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: fit-content;

    & svg {
      min-width: 18px;
    }
  }

  &__headerContentContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__headerContent {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  // main
  &__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__infoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__secondTaskInfo {
    display: flex;
    gap: 10px;
  }

  &__focusContainer {
    padding: 10px 25px;
    min-width: fit-content;
  }

  &__files {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__focusLabel {
    color: var(--light-text-color);
  }

  &__attemptsCount {
    color: var(--active-color);

    &_error {
      color: var(--error-color);
    }
  }

  &__timeForExecute {
    width: 100%;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1150px) {
  .taskInfo {
    &__secondTaskInfo {
      flex-wrap: wrap;
    }

    &__focusContainer {
      flex: 1;
    }
  }
}

@media screen and (max-width: 992px) {
  .taskInfo {
    &__header {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 576px) {
  .taskInfo {
    &__button {
      width: 100%;
    }
    &__moreButtonLink {
      width: 100%;
    }
  }
}
