.questions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
  }

  &__questions {
    display: flex;
    flex-direction: column;
    gap: 13px;
    
  }
}
