.answerButton {
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.answerButton__number {
  padding: 4px 8px;
  background-color: var(--main-2-color);
  color: var(--on-color-text-color);
}
.answerButton__number_notActive {
  background-color: var(--border-color);
  color: var(--light-text-color);
}
.answerButton__number_active {
  background-color: var(--active-color);
}
.answerButton__text {
  padding: 4px 20px;
  background-color: var(--background-focus-color);
}
.answerButton__text_active {
  background-color: var(--active-light-color);
}
.answerButton:hover .answerButton__text {
  background-color: var(--background-focus-2-color);
}
.answerButton:hover .answerButton__text_active {
  background-color: var(--active-light-color);
}