.pageNotFound {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.pageNotFound__message {
  font-size: 24px;
  line-height: 28px;
  font-weight: var(--semibold-font-weight);
}
.pageNotFound__homeLink {
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--semibold-font-weight);
}