.spinLoader {
  width: 30px;
  height: 30px;
  border: 5px solid var(--main-1-color);
  opacity: 0.1;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
