@import 'variables';
@import 'mixins';

* {
  font-family: var(--main-font-family);
  color: var(--text-color);
}

body {
  background-color: var(--background-focus-color);
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

// initial classes
h1,
.h1 {
  @include h1;
  margin: 0;
}
h2,
.h2 {
  @include h2;
  margin: 0;
}
h3,
.h3 {
  @include h3;
  margin: 0;
}
h4,
.h4 {
  @include h4;
  margin: 0;
}
h5,
.h5 {
  @include h5;
  margin: 0;
}
h6,
.h6 {
  @include h6;
  margin: 0;
}
.text {
  @include text;
}
.text-bold {
  @include textBold;
}
.text-underline {
  @include textUnderline;
}
.paragraph {
  @include paragraph;
}
.paragraph-underline {
  @include paragraphUnderline;
}
.link {
  @include link;
}
.small-text {
  @include smallText;
}
