:root {
  --background-color: #ffffff;
  --background-focus-color: #f6f8fa;
  --background-focus-2-color: #ebf0f4;
  --border-color: #d8dee4;
  --error-color: #ff4242;
  --error-light-color: #ff8181;
  --success-color: #2dff81;
  --success-light-color: #a6ffc9;
  --warning-color: #ffde32;
  --warning-light-color: #ffed8f;
  --active-color: #0969da;
  --active-hover-color: #117eff;
  --active-light-color: #c8e1ff;
  --main-1-color: #353c4a;
  --main-2-color: #656d76;
  --focus-color: rgba(208, 215, 222, 0.3);
  --element-color: rgba(175, 184, 193, 0.2);
  --text-color: #1f2328;
  --light-text-color: #656d76;
  --link-blue-color: #0969da;
  --on-color-text-color: #ffffff;
  --warning-text-color: #e4c000;
  --on-warning-text-color: #7d6a00;
  --error-text-color: #ff4242;
  --success-text-color: #00bd4c;
  --on-success-text-color: #21693e;
  --normal-font-weight: 400;
  --semibold-font-weight: 600;
  --main-font-family: "Noto Sans", Arial, sans-serif;
}

* {
  font-family: var(--main-font-family);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

h1,
.h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: var(--semibold-font-weight);
}

h2,
.h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: var(--semibold-font-weight);
}

h3,
.h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: var(--semibold-font-weight);
}

h4,
.h4 {
  font-size: 22px;
  line-height: 26px;
  font-weight: var(--semibold-font-weight);
}

h5,
.h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--semibold-font-weight);
}

h6,
.h6 {
  font-size: 18px;
  line-height: 22px;
  font-weight: var(--semibold-font-weight);
}

.text {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--normal-font-weight);
}

.text-bold {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--semibold-font-weight);
}

.text-underline {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--normal-font-weight);
  text-decoration: underline;
}

.paragraph {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--normal-font-weight);
}

.paragraph-underline {
  font-size: 14px;
  line-height: 22px;
  font-weight: var(--normal-font-weight);
  text-decoration: underline;
}

.link {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--normal-font-weight);
}

.small-text {
  font-size: 12px;
  line-height: 14px;
  font-weight: var(--normal-font-weight);
}