.header {
  padding: 15px 20px;
  background-color: var(--background-focus-color);
  -webkit-box-shadow: 0px 4px 20px 0px rgba(216, 222, 228, 0.5);
          box-shadow: 0px 4px 20px 0px rgba(216, 222, 228, 0.5);
  border-bottom: 1px solid var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__labelContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}
.header__labelText {
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--semibold-font-weight);
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}
.header__labelText:hover {
  background-color: var(--focus-color);
}
.header__textCircle {
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--text-color);
  border-radius: 50%;
}
.header__nowPageName {
  font-size: 18px;
  line-height: 22px;
  font-weight: var(--semibold-font-weight);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}
.header__nowPageName:hover {
  background-color: var(--focus-color);
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__menuButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__profile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header__profilePhoto {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid var(--border-color);
}